<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>School List</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Template/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Template/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Template/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/Template/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/Template/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Template/dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="/Template/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60"
                width="60">
        </div>

        <!-- Include Navbar -->
        <%- include('../layouts/navbar') %>

            <!-- include sidebar -->
            <%- include('../layouts/sidebar') %>


                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1>Update History of Schools</h1>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active">School Updates</li>
                                    </ol>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">School Update Notifications</h3>

                                            <div class="card-tools d-flex align-items-center">
                                                <button type="button" id="deleteSelectedBtn"
                                                    class="btn btn-danger btn-sm mr-2" disabled>
                                                    <i class="fas fa-trash-alt"></i> Delete Selected
                                                </button>
                                                <div class="input-group input-group-sm" style="width: 150px;">
                                                    <input type="text" name="table_search"
                                                        class="form-control float-right" placeholder="Search">

                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-default">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body table-responsive p-0">
                                            <table class="table table-hover text-nowrap" id="notificationsTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" id="selectAll">
                                                                <label for="selectAll"></label>
                                                            </div>
                                                        </th>
                                                        <th>School Name</th>
                                                        <th>Message</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(notifications && notifications.length> 0) { %>
                                                        <% notifications.forEach(notification=> { %>
                                                            <tr>
                                                                <td>
                                                                    <div class="icheck-primary">
                                                                        <input type="checkbox"
                                                                            class="notification-checkbox"
                                                                            id="notification-<%= notification._id %>"
                                                                            value="<%= notification._id %>">
                                                                        <label
                                                                            for="notification-<%= notification._id %>"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <%= notification.schoolName %>
                                                                </td>
                                                                <td>
                                                                    <%= notification.message %>
                                                                </td>
                                                                <td>
                                                                    <%= notification.type %>
                                                                </td>
                                                                <td>
                                                                    <% if(notification.isRead) { %>
                                                                        <span class="badge badge-success">Read</span>
                                                                        <% } else { %>
                                                                            <span
                                                                                class="badge badge-warning">Unread</span>
                                                                            <% } %>
                                                                </td>
                                                                <td>
                                                                    <%= new
                                                                        Date(notification.createdAt).toLocaleString() %>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="6" class="text-center">No
                                                                            notifications found</td>
                                                                    </tr>
                                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                        </div>
                        <!-- /.container-fluid -->
                    </section>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->

                <!-- include footer -->
                <%- include('../layouts/footer') %>

                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- include Scripts -->

    <!-- jQuery -->
    <script src="/Template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/Template/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Template/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Template/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Template/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Template/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Template/plugins/jszip/jszip.min.js"></script>
    <script src="/Template/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Template/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/Template/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Template/dist/js/adminlte.min.js"></script>

    <!-- Page specific script -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Initialize DataTable (assuming DataTables library is still being used)
            const table = new DataTable("#notificationsTable", {
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"]
            });

            // Add buttons container to the appropriate location
            table.buttons().container().appendTo('#notificationsTable_wrapper .col-md-6:eq(0)');

            // Select all checkboxes
            const selectAllCheckbox = document.getElementById("selectAll");
            selectAllCheckbox.addEventListener("click", () => {
                const isChecked = selectAllCheckbox.checked;
                document.querySelectorAll(".notification-checkbox").forEach(checkbox => {
                    checkbox.checked = isChecked;
                });
                toggleDeleteButton();
            });

            // Handle individual checkbox clicks using event delegation
            document.addEventListener("click", (event) => {
                if (event.target.classList.contains("notification-checkbox")) {
                    // If any checkbox is unchecked, uncheck the "Select All" checkbox
                    if (!event.target.checked) {
                        selectAllCheckbox.checked = false;
                    }

                    // If all checkboxes are checked, check the "Select All" checkbox
                    const allCheckboxes = document.querySelectorAll(".notification-checkbox");
                    const checkedCheckboxes = document.querySelectorAll(".notification-checkbox:checked");
                    if (checkedCheckboxes.length === allCheckboxes.length) {
                        selectAllCheckbox.checked = true;
                    }

                    toggleDeleteButton();
                }
            });

            // Toggle delete button state
            function toggleDeleteButton() {
                const deleteSelectedBtn = document.getElementById("deleteSelectedBtn");
                const selectedCount = document.querySelectorAll(".notification-checkbox:checked").length;
                deleteSelectedBtn.disabled = selectedCount === 0;
                deleteSelectedBtn.textContent = selectedCount > 0 ?
                    `Delete Selected (${selectedCount})` :
                    "Delete Selected";
            }

            // Delete selected notifications
            document.getElementById("deleteSelectedBtn").addEventListener("click", () => {
                const selectedIds = [];
                document.querySelectorAll(".notification-checkbox:checked").forEach(checkbox => {
                    selectedIds.push(checkbox.value);
                });

                if (selectedIds.length === 0) return;

                // Using SweetAlert2 for confirmation (assuming it's still being used)
                Swal.fire({
                    title: 'Are you sure?',
                    text: `You are about to delete ${selectedIds.length} notification(s)!`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete them!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Send delete request using Fetch API instead of jQuery Ajax
                        fetch('/admin/delete-notifications', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ ids: selectedIds })
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                Swal.fire(
                                    'Deleted!',
                                    'Notifications have been deleted.',
                                    'success'
                                ).then(() => {
                                    // Reload page after successful deletion
                                    window.location.reload();
                                });
                            })
                            .catch(error => {
                                Swal.fire(
                                    'Error!',
                                    'There was a problem deleting the notifications.',
                                    'error'
                                );
                                console.error('Error:', error);
                            });
                    }
                });
            });
        });
    </script>
</body>

</html>